* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.block span {
  font-family: Verdana;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
}
.navigation {
  background-color: #ff7f50;
}
.product {
  background-color: #006400;
}
.news {
  background-color: #0ff;
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex: 2;
  }

  .navigation {
    flex: 1;
  }

  .product {
    flex: 1;
  }
}

@media screen and (min-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex: 2;
  }

  .news {
    flex: 1;
  }
}
