body {
  max-width: 1500px;
  margin: 0 auto;
}

header {
  text-align: center;
}
.articles-list {
  display: flex;
  flex-basis: 300px;
}
.article {
  padding: 16px;
  margin: 8px;
  background-color: bisque;
  flex-basis: 300px;
}
