* {
  box-sizing: border-box;
}
.header {
  height: 50px;
  background: yellow;
}
.content {
  width: 80%;
  background: pink;
  height: 500px;
  float: left;
}
.sidebar {
  width: 20%;
  background: grey;
  height: 500px;
  float: right;
}
.footer {
  height: 50px;
  background: green;
  clear: both;
}
